
.cardContainer {
  position: relative;
  background: #1a1a1a;
  border: 1px solid #3d3d3d;
  border-radius: 12px;
  padding: 4px;
  width: 100%;
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-4px);
  }

  &.active {
    border-color: #ffeb3b;
  }
}

.categoryTag {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #313131; // 기본 회색 배경
  padding: 2px 12px;
  padding-top: 4px;
  border-radius: 16px;
  font-size: 9px;
  font-family: 'LINESeedKR';
  font-weight: 700;
  color: #fff; // 기본 흰색 텍스트
  transition: all 0.2s ease;

  &.active {
    background: #ffeb3b; // 활성화시 노란색 배경
    color: #000; // 활성화시 검정 텍스트
  }
}

.checkIcon {
  position: absolute;
  top: 8px;
  right: 8%;
  
  img {
    width: 24px;
    height: 24px;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  
  img {
    width: 25%;
    height: 25%;
    max-width: 80px;
    max-height: 80px;
  }
}

.cardContent {
  position: absolute;
  bottom: 8px;
  left: 10px;
  width: 100%;
  text-align: center;
  text-align: left;
//   padding-left: 4px;
  
  .title {
    font-family: 'LINESeedKR';
    font-size: 10px;
    font-weight: 500;
    color: #fff;
  }
  
  .price {
    font-family: 'LINESeedKR';
    font-size: 10px;
    color: #808080;
    font-weight: 700;
    margin: 0;
  }
}
@media (max-width: 599px) {
  .cardContainer {
    // min-width: 120px;
    max-width: 100%;
    min-height: 120px;
  }
}
